body {
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background: url(../img/clock.png);
  background-size: cover;
}
.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
}
.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 160px;
  height: 160px;
  border: solid red 2px;
}
.clock .min,
.mi {
  width: 190px;
  height: 190px;
  border: solid green 2px;
}
.clock .sec,
.sc {
  width: 230px;
  height: 230px;
  border: solid yellow 2px;
}
.hr,
.mi,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: "";
  background-color: tomato;
  width: 8px;
  height: 80px;
  position: absolute;
}
.mi::before {
  content: "";
  background-color: blue;
  width: 6px;
  height: 100px;
  position: absolute;
}
.sc::before {
  content: "";
  background-color: tan;
  width: 5px;
  height: 130px;
  position: absolute;
}
