* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: block;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* clock */
body {
  background: url(../img/fon.jpg) 0 0/100% auto no-repeat;
}
.countener {
  margin: 0 auto;
  max-width: 1200px;
}
.oll__clock {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
}
.sity {
  color: white;
  font-size: 36px;
  text-align: center;
  margin: 0 0 30px 0;
}
.date {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 0 0;
}
.clock {
  background: url(../img/clock.png);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  max-width: 250px;
  max-height: 250px;
}

.hour,
.minute,
.second {
  position: absolute;
}
.clock::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}
.hour,
.ho {
  width: 145px;
  height: 145px;
}

.minute,
.min {
  width: 170px;
  height: 170px;
}
.second,
.sec {
  width: 190px;
  height: 190px;
}

.ho,
.min,
.sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.ho::before {
  content: "";
  background-color: black;
  width: 7px;
  height: 55px;
  position: absolute;
  border-radius: 40%;
  margin: 15px 0 0 0;
}
.min::before {
  content: "";
  background-color: black;
  width: 5px;
  height: 80px;
  position: absolute;
  border-radius: 40%;
  margin: 5px 0 0 0;
}
.sec::before {
  content: "";
  background-color: white;
  width: 2.5px;
  height: 90px;
  position: absolute;
  margin: 10px 0 0 0;
}
