* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: block;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* clock */
body {
  background: url(../img/fon.jpg) 0 0/100% auto no-repeat;
}
.countener {
  margin: 0 auto;
  max-width: 1200px;
}
.oll__clock {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
}
.sity {
  color: white;
  font-size: 36px;
  text-align: center;
  margin: 0 0 30px 50px;
}
.date {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 310px 0 0 50px;
}
.clock {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

.display {
  max-width: 250px;
  max-height: 250px;
}

.hour,
.minute,
.second {
  position: absolute;
  right: 50px;
}

.hour,
.ho {
  width: 160px;
  height: 160px;
  border: solid red 2px;
}

.minute,
.min {
  width: 190px;
  height: 190px;
  border: solid green 2px;
}
.second,
.sec {
  width: 210px;
  height: 210px;
  border: solid yellow;
}
